In [1]:
# Dependencies 
import pandas as pd

In [2]:
# Read in the stock data
stock_df = pd.read_csv("Resources/data.csv")
stock_df.head(5)

  Company        Date Close/Last    Volume     Open       High      Low
0    AAPL  07/17/2023    $193.99  50520160  $191.90    $194.32  $191.81
1    AAPL  07/14/2023    $190.69  41616240  $190.23  $191.1799  $189.63
2    AAPL  07/13/2023    $190.54  41342340  $190.50    $191.19  $189.78
3    AAPL  07-12-2023    $189.77  60750250  $189.68    $191.70  $188.47
4    AAPL  07-11-2023    $188.08  46638120  $189.16    $189.30  $186.60

In [3]:
# Remove the $ sign from the columns 
stock_df = stock_df.replace({'\$': ' '}, regex=True)

# Review the changes 
stock_df.head(5)

  Company        Date Close/Last    Volume     Open       High      Low
0    AAPL  07/17/2023     193.99  50520160   191.90     194.32   191.81
1    AAPL  07/14/2023     190.69  41616240   190.23   191.1799   189.63
2    AAPL  07/13/2023     190.54  41342340   190.50     191.19   189.78
3    AAPL  07-12-2023     189.77  60750250   189.68     191.70   188.47
4    AAPL  07-11-2023     188.08  46638120   189.16     189.30   186.60

In [4]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25160 entries, 0 to 25159
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     25160 non-null  object
 1   Date        25160 non-null  object
 2   Close/Last  25160 non-null  object
 3   Volume      25160 non-null  int64
 4   Open        25160 non-null  object
 5   High        25160 non-null  object
 6   Low         25160 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [5]:
# Check for missing values
null_counts = stock_df.isnull().sum()
print(null_counts)

Company       0
Date          0
Close/Last    0
Volume        0
Open          0
High          0
Low           0
dtype: int64

In [6]:
# List the names of the stocks contained in the df
unique_companies = stock_df['Company'].unique()
print(unique_companies)

['AAPL' 'SBUX' 'MSFT' 'CSCO' 'QCOM' 'META' 'AMZN' 'TSLA' 'AMD' 'NFLX']